/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

#obako-inline-title-prefix-decorator {
    color: var(--text-muted);
    font-weight: var(--inline-title-weight);
    font-size: var(--inline-title-size);
    line-height: var(--inline-title-line-height);
    font-style: var(--inline-title-style);
    font-variant: var(--inline-title-variant);
    font-family: var(--inline-title-font);
    margin-bottom: var(--inline-title-margin-bottom);
    letter-spacing: -0.015em;
    /* color: var(--inline-title-color); */
    white-space: pre-wrap;
}

#obako-inline-title-suffix-decorator {
    color: var(--text-muted);
    font-weight: var(--inline-title-weight);
    font-size: var(--inline-title-size);
    line-height: var(--inline-title-line-height);
    font-style: var(--inline-title-style);
    font-variant: var(--inline-title-variant);
    font-family: var(--inline-title-font);
    margin-bottom: var(--inline-title-margin-bottom);
    letter-spacing: -0.015em;
    white-space: pre-wrap;
}

.obako-note-top-panel {
    background-color: var(--background-secondary);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Display cancelled tasks as muted */
div[data-task="-"] {
    color: var(--text-muted);
    text-decoration: line-through;
}
/* Display deferred tasks as muted */
div[data-task=">"] {
    color: var(--text-muted);
    text-decoration: line-through;
}

/* Headings in settings. Added using ObakoSettingsTab.addHeading(level=NUMBER) in settings.ts */
.obako-settings-heading {
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 5px;
}